@model ProyectoAWS.Models.Usuario

@{ ViewData["Title"] = "Create"; }

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
                
                <input asp-for="IdUsuario" class="form-control" hidden />
                
            
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <div>
                    <label>Titulo</label>
                    <input type="text" name="titulo" class="form-control">
                </div>
                <div>
                    <label>Imagenes</label>

                        <input class="form-control" type="file" name="files" id="files" accept="image/*" multiple>
                </div>
            </div>
            <div class="form-group">

                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Volver a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
